body{
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

h1{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    padding-left: 3%;
}

p{
    font-size: 18px;
}

.orange-color{
    color:#FFAD5A;
}

.flex-container{
    display: flex;
    margin-bottom: 150px;
}

#first-banner{
    border-left:7px solid ;
    border-image-slice: 1;
    border-color: #FF5959;
    border-radius: 5px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 2%;
}

.half-width img{
    padding-left: 8%;
    width: 50%;
}

.link-button{
    text-decoration: none;
    background-color:#FF5959;
    color: white;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 5px;
}

h2{
    font-size: 24px;
    font-weight: 600;
}

#h1-editor{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.small-picture img {
    width: 141px;
}

#mission-bg{
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 24px;
    padding:20px 40px;
}



#vision-bg{
    margin-right: 2%;
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 24px;
    padding:20px 40px;
}

#goal-bg{
    margin-right: 2%;
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 24px;
    padding:20px 40px;

}